body {
  margin: 0;
  background-image: url(../images/bg-desktop.svg);
  background-size: 1340px 900px;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  height: 100vh;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 25px 0 10px 0;
}

.brand-name {
  position: absolute;
  top: 50px;
  left: 5rem;
}

.components {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 5rem;
  position: relative;
  top: 50px;
}

.text-components {
  padding-left: 50px;
  line-height: 1.5;
  padding-top: 50px;
}

footer {
  position: absolute;
  bottom: 35px;
  right: 100px;
}

.fan {
  color: #fff;
  border: solid 0.08em;
  border-radius: 100%;
  padding: 0.6em 0.65em 0.55em;
  text-decoration: none;
}

.fan:hover {
  color: hsl(300, 69%, 71%);
}

.btn {
  background-color: hsl(0, 0%, 95%);
  color: hsl(257, 40%, 49%);
  border-radius: 30px;
  font-size: 15px;
  padding: 8px 45px;
}

.btn:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
  border-color: hsl(300, 69%, 71%);
}

a {
  margin: 0 5px;
}

@media (min-width: 375px) and (max-width: 768px) {
  body {
    text-align: center;
    background-image: url(../images/bg-mobile.svg);
    background-size: contain;
  }

.logo {
  width: 60%;
}

.brand-name {
  position: absolute;
  top: 20px;
  left: -15px;
}

.grid-container {
  grid-template-columns: 1fr;
  
}

.components {
  padding: 25px 20px;
  position: absolute;
  top: 100px;

}

.mockups {
  width: 87%;
}

.text-components {
  line-height: 1.5;
  padding: 30px 15px;
}

.footer-wrap {
  width:100%;
  position:fixed;
  bottom: 10px;
}

footer {
  position: static;
  
}

}
